// Colors
$bgColor: rgb(37, 35, 50);
$boxColor: rgb(43, 38, 69);
$textMainColor: white;
$textSecondaryColor: rgb(11, 11, 235);

// Fonts
$headerFont: 'Space Mono', monospace;
$textFont: 'Roboto Mono', monospace;

// Breakpoints
$breakDesktop: 1440px;