@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #252332;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 36.28125rem;
  padding-top: 1.25rem;
}

.header__logo {
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 1.875rem;
}

.searchBar {
  margin-top: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 36.28125rem;
  gap: 1.25rem;
}

.searchBar__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  width: 100%;
  height: 3.4375rem;
  border-radius: 0.625rem;
  background-color: #2b2645;
  padding-left: 1.25rem;
  color: white;
  font-family: "Roboto Mono", monospace;
}

.searchBar__input:focus {
  outline: none;
}

.searchBar__submit {
  background-color: #4b4bff;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  padding: 0.625rem 0.9375rem;
  border: none;
  border-radius: 0.625rem;
  height: 3.4375rem;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.searchBar__submit:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #d9d9d9;
  font-family: "Roboto Mono", monospace;
}

:-ms-input-placeholder {
  color: #d9d9d9;
  font-family: "Roboto Mono", monospace;
}

::-ms-input-placeholder {
  color: #d9d9d9;
  font-family: "Roboto Mono", monospace;
}

::placeholder {
  color: #d9d9d9;
  font-family: "Roboto Mono", monospace;
}

.box {
  background-color: #2b2645;
  margin-top: 1.875rem;
  border-radius: 0.625rem;
  width: 90%;
  max-width: 36.28125rem;
  padding: 1.875rem 1.5625rem 1.25rem 1.5625rem;
  margin-bottom: 1.875rem;
}

.box__textArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.box__headerImage {
  width: 25%;
}

.box__headerImageItem {
  width: 100%;
  border-radius: 100%;
}

.box__headerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.box__headerName {
  font-family: "Space Mono", monospace;
}

.box__headerNameMain {
  color: white;
  font-weight: 700;
}

.box__headerNameSecondary {
  color: #0b0beb;
  font-weight: 300;
  font-size: 0.9375rem;
  letter-spacing: 0.0625rem;
}

.box__headerJoinedText {
  font-family: "Space Mono", monospace;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.box__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
  color: #f1f1f1;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.8125rem;
}

.box__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  margin-top: 1.5625rem;
  color: white;
  background-color: #252332;
  border-radius: 0.625rem;
  padding: 1.5625rem;
}

.box__infoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Space Mono", monospace;
  font-size: 0.75rem;
  gap: 0.9375rem;
}

.box__infoItemHeader {
  font-weight: 300;
}

.box__infoItemSubHeader {
  font-weight: 600;
  font-size: 1.375rem;
}

.box__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.1875rem;
  gap: 1.25rem;
}

.box__detailsFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.box__detailsFirstIcon {
  font-size: 1.5625rem;
}

.box__detailsFirstText {
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.box__detailsSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.box__detailsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: white;
}

.notAvailable {
  opacity: 0.5;
}

.noUserFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.noUser {
  color: white;
  font-family: "Space Mono", monospace;
}

.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

@media (min-width: 900px) {
  .box__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box__headerNameMain {
    font-size: 1.875rem;
  }
  .box__headerNameSecondary {
    font-size: 1.25rem;
  }
  .box__bio {
    margin-top: 3.125rem;
    font-size: 1.25rem;
  }
  .box__info {
    gap: 3.125rem;
  }
  .box__infoItemHeader {
    font-size: 1.25rem;
  }
  .box__infoItemSubHeader {
    font-size: 1.5625rem;
  }
  .box__details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0.9375rem 0 0.9375rem;
    margin-bottom: 0.9375rem;
  }
  .box__detailsFirstText {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */