.header {
    display: flex;
    width: 90%;
    max-width: toRem(580.5);
    padding-top: toRem(20);

    &__logo {
        font-family: $headerFont;
        color: $textMainColor;
        font-size: toRem(30);
    }
}